<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <header>
        <h2 class="logo">RMIT Online Library</h2>
        <nav class="navigation">
            <a href="#">Search Book</a>
            <a href="#">Show All Books</a>
            <a href="#">Add Book</a>
            <a href="#">Delete Book</a>
            <button type="submit" class="btn" onclick="logout(event)">Logout</button>
        </nav>
    </header>
    <div class="wrapper">
        <form action="/admin.html" method="post">
        </form>
    </div>  
</body>
</html>